@import "../../utilities/variables.scss";

.signup {
  background-color: $mint;
  text-align: center;
  height: 100vh;
  padding: 50px;

  .switcher {
    display: block;
    padding: 10px;
    color: $heavyblue;
    text-decoration: none;
    cursor: pointer;
  }

  .signup__warning {
    color: $red;
  }
}
