@import "../../utilities/variables.scss";

.signin {
  background-color: $orangewhite;
  text-align: center;
  height: 100vh;
  padding: 50px;
  .switcher {
    display: block;
    padding: 10px;
    color: $heavyblue;
    text-decoration: none;
    cursor: pointer;
  }

  .signin__info {
    color: $darkred;
  }

  .buttonLogout {
    cursor: pointer;
    margin-bottom: 10px;
  }
}
