.signin {
  background-color: rgb(255, 140, 74);
  text-align: center;
  height: 100vh;
  padding: 50px;
  .switcher {
    display: block;
    padding: 10px;
    color: rgb(17, 17, 131);
    text-decoration: none;
    cursor: pointer;
  }

  .signin__info {
    color: rgb(94, 26, 26);
  }

  .buttonLogout {
    cursor: pointer;
    margin-bottom: 10px;
  }
}
