@import "../../utilities/variables.scss";

@keyframes cardColorChange {
  from {
    background-color: $aliceblue;
  }
  to {
    background-color: $heavyblue;
  }
}

.products {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient($heavyblue, $orange);
  height: 100vh;

  ul {
    max-width: 500px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

    .products__card {
      border: 0px solid $white;
      height: max-content;
      margin-top: 50px;
      position: relative;
      cursor: pointer;

      button {
        width: 180px;
        height: 260px;
        background-color: $aliceblue;
        cursor: pointer;
        position: relative;
        border-radius: 40px;
        animation-name: cardColorChange;
        animation-duration: 5s;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        .card__count {
          font-size: 30px;
          font-weight: 700;
          color: $heavyblue;
        }

        .card__name {
          font-size: 24px;
          color: $lightorange;
        }
      }

      button:hover {
        background-color: $bluegray;
        animation: none;

        .card__count {
          color: $heavybluegray;
        }

        .card__name {
          color: $orangegray;
        }
      }
    }
  }
}
