$orange: rgba(255, 119, 0);
$orangewhite: rgb(255, 148, 55);
$lightorange: orange;
$orangegray: rgb(188, 122, 0);
$verylightorange: rgba(255, 119, 0, 0.518);
$heavyblue: rgb(17, 17, 131);
$heavybluegray: rgb(12, 12, 91);
$verylightheavyblue: rgba(17, 17, 131, 0.482);
$darkred: rgb(94, 26, 26);
$mint: rgb(40, 218, 197);
$red: red;
$aliceblue: aliceblue;
$gray: gray;
$lightgray: rgb(218, 218, 218);
$showerblue: rgb(0, 187, 255);
$blue: blue;
$black: black;
$bluegray: rgb(199, 206, 212);
$white: white;
