@import "../../../../utilities/variables.scss";

header {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  background-color: $verylightorange;

  button {
    width: 100px;
    height: 40px;
    background-color: $heavyblue;
    color: $orange;
    cursor: pointer;
    border: none;
    opacity: 70%;
    font-size: 24px;
  }

  button:hover {
    opacity: 100%;
  }

  button:disabled {
    opacity: 20%;
    cursor: default;
  }

  .swich-on {
    background-color: $orange;
    color: $heavyblue;
  }
}
